body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    color: white;
    font-family: sans-serif;
}

canvas {
    background: #111;
    border: 2px solid #fff;
}

#score {
    margin-top: 10px;
    font-size: 20px;
}
